# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

# ignored folders:
.vscode/
src/__pycache__/
data/cityscapes/
data/pascal_voc/
vgg11.pth
logs/
results/image_results/
results/models/
summary/
